
/* --------
    RESET
---------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------
    COMMON
---------------*/
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

body{
    background-color: fffffe;
    font-family: 'Fredoka One', cursive;
    
  
}

/*--------------
TITOLO E PARAGRAFO
---------------*/

.title {
    color: #E53170;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}


#description{
    /* display: inline-block; */
    text-align: center;
  margin-bottom: 55px;
}

/*--------------
   CONTAINER
---------------*/

.container{
    max-width: 1150px;
    margin: auto;
    background-color: #E53170;
}

.card{
    float: left;
    color: white ;

}

.contenuto{
    float: left;
}

img{
    float: left;
 }

 h3{
    float: left;
    padding-top: 16px;
    margin-left: 20px;
    font-size: 1.20em;
 }

 h4{
    margin-left: 16px;
   
   
  
 }

 