
/* --------
    RESET
---------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------
    COMMON
---------------*/
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

body{
    /* background-color: fffffe; */
    font-family: 'Fredoka One', cursive;
    
  
}

/*--------------
TITOLO E PARAGRAFO
---------------*/

.title {
    color: #E53170;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}


#description{
    /* display: inline-block; */
    text-align: center;
    margin-bottom: 55px;
}

/*--------------
   CONTAINER
---------------*/

.container{
    max-width: 1200px;
    margin: auto;
    /* background-color: #E53170; */
}

.card{
    float: left;
    color: white ;
    margin: 0 15px;
    width: calc(33% - 30px);
    background-color: black;
    /* border-radius: 5px; */
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}




.contenuto{
    float: left;
    margin-top: 15px;


    
}

img{
    float: left;
    width: 100px;
    height: 100px;
 }

 h3{
    /* float: left; */
    /* padding-top: 16px; */
    margin-left: 20px;
    font-size: 1.20em;
 }

h4{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 8px;
}

a{
    margin-top: 16px;
    margin-left: 20px;
    font-size: 1.0em;
    text-decoration: none;
    color: rgb(53 211 227);
}
 
